*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.hd
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.pdf
!README.md
!LICENSE

.DS_Store
Thumbs.db
desktop.ini

thesis_cover.pdf
